body {
	background-color: #243E36;
}

a:link 	{ color: blue; }
a:visited 	{ color: blue; }
a:hover 	{ color: white; }
a:active 	{ color: red; }



header, main, footer {
	width: 500px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}


header {
	background-color: #E0EEC6;
	border-radius: 27px 25px 25px 27px;
	margin: auto;
	height: 700px;

}

main {
	background-color: #F1F7ED;/* #729B79; */
	border-radius: 25px;
	height: auto;

}

footer {
	background-color: #E0EEC6;
	border-radius: 25px;
	height: 50px;
	text-align: center;
	
}

.group {
	display: flex;
	flex-direction: column;
}

.item {
	flex: 1;
	margin: 10px;
	font-family: Arial;
}

img {

	max-width: 100%;
	max-height: 100%;
	margin: auto;
	
}

.img-self {
	height: 100px;
	width: 25px;
}

hr {
	width: 250px;
	height: 5px;
	background-color: #475B63;
	border-radius: 10px;
	border-color: #475B63;
}

form label,
form input,
form textarea {
	display: block;
	width: 400px;
	border-radius: 10px;
}

form textarea {

	height: 300px;

}

.imgself{
	height: 400px;
	width: 325px;
}


/* Button Code */

.button {
	display: inline-block;
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
	margin: 10px;
	padding: 5px 15px;
	border-radius: 25px;
	color: blue;
	background-color: #7CA982;
	border-color: #7CA982;
	font-weight: bold;
	margin-left: auto;
    margin-right: auto;
}

.btn-cnt {
	color: black;
	background-color: #C2A83E;
	border-color: #C2A83E;
	font-weight: bold;

}


a.btn { color: black; }
a.btn:link { color: black; }
a.btn:visited { color: black; }
a.btn:hover { color: white; }
a.btn:active { color: white; }


/* end button code */

.img-crl {
	border-radius: 25px;


/* google frame code */


}

iframe {
	border-radius: 25px;
}
.frame {
	width: 400px;
	height: 400px;
}












/* start of desktop css code  */

@media all and (min-width: 600px){


body {
	background-color: #243E36;
}

a:link 	{ color: blue; }
a:visited 	{ color: blue; }
a:hover 	{ color: white; }
a:active 	{ color: red; }



img {
	max-width: 100%;
	max-height: 100%;

}

.imgself {
	height: 500px;
	width: 425px;
}


/* H1-6 CSS Code Start */
h1 {
	font-size: 60px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

h2 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

h3 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-align: center;
}


/* End H1-6 Code */

p, ul {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	
}
p {
	text-align: left;
}

.centerit {
	display: block;
    margin: 0 auto;
    text-align: center;
}

hr {
	width: 700px;
	height: 5px;
	background-color: #475B63;
	border-radius: 10px;
	border-color: #475B63;
}

/* create edges for images */
.img-crl {
	border-radius: 25px;

}

.img-self {
	height: 500px;
	width: 425px;
}

/* start of the main parts header main footer */

header {
	background-color: #E0EEC6;
	border-radius: 27px 25px 25px 27px;
	margin: auto;
	height: 500px;
	width: 1200px;
}

main {
	background-color: #F1F7ED;/* #729B79; */
	border-radius: 25px 25px 25px 25px;
	margin: auto;
	width: 1200px;
	height: auto;

}

footer {
	background-color: #E0EEC6;
	border-radius: 25px;
	margin: auto;
	width: 1200px;
	height: 50px;
	text-align: center;
	font-family: Arial;
	
}

/* google frame code */
.frame {
	text-align: center;

}

iframe {
	border-radius: 25px;
}


/* end of the main parts */

/* flex code for grouping and items and variances */
.group {
	display: flex;
	flex-direction: row;
}

.item {
	flex: 1;
	margin: 10px;
	font-family: Arial;
}

.dbl {
	flex: 2;
	margin: 10px;
}

/* end flex code */

/* Button Code */

.button {
	display: inline-block;
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
	margin: 10px;
	padding: 5px 15px;
	border-radius: 25px;
	color: blue;
	background-color: #7CA982;
	border-color: #7CA982;
	font-weight: bold;
	margin-left: auto;
    margin-right: auto;
}

.btn-cnt {
	color: black;
	background-color: #C2A83E;
	border-color: #C2A83E;
	font-weight: bold;

}


a.btn { color: black; }
a.btn:link { color: black; }
a.btn:visited { color: black; }
a.btn:hover { color: white; }
a.btn:active { color: white; }


/* end button code */

/* main div coding */
.main-bdy {
	width: 700px;
	margin: auto;
}

.ext {
	width: 250px;
}

/* Form CSS Code */

form label,
form input,
form textarea {
	display: block;
	width: 700px;
	border-radius: 10px;
}

form textarea {

	height: 300px;

}


/* end form css code */

}